<div class="resetpassword-panel">
  <h2 class="resetpassword-panel__title" mat-dialog-title>
    {{ 'resetPasswordDialog.title' | translate }}
  </h2>
  <mat-dialog-content>
    <div class="resetpassword-panel__info">
      {{ 'resetPasswordDialog.sendTo' | translate }}:<br>
      <b>{{ data.email }}</b>
    </div>
    <div mat-dialog-actions class="resetpassword-panel__actions" align="end">
      <button class="btn" (click)="onCancel()">
        {{ 'common.cancel' | translate }}
      </button>
      <button class="btn" (click)="onConfirm()">
        {{ 'resetPasswordDialog.button.send' | translate }}
      </button>
    </div>
  </mat-dialog-content>
</div>
