html, body, h1, h2, h3, h4, h5, h6, ul, li, p, figure {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
}
